body {
    margin: 0;
    background: white;
    opacity: 0.6;
    text-align: center;
    background-image: url("Vermont.jpg");
    background-size: 150;
}
ul {
    list-style-type: none;
    padding: 1;
}
li {
    float: left;
}
li a {
    display: block;
    background-color: black;
    padding: 1;
    color: white;
}
.square {
    width: 50;
    height: 10;
    padding: 10;
}
